@import "./helpers/flex";
@import "./helpers/icon";
@import "./helpers/variable";


// modal
.modal__btn--open {
    width: 150px;
    height: 50px;
    text-align: center;
    border: 1px solid #222;
}

.modal__content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    .modal__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        width: 500px;
        height: 500px;
        margin: auto;
        padding: 20px;
        background-color: $white;

        .modal__btn--close {
            @include icon-close(20px, 2px, $black, 0, inline-block, absolute);
            top: 20px;
            right: 20px;
        }
    }
}


// tab
.tab {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #222;

    ul {
        @include display-flex($displayFlexBetweenStart...);
        border-bottom: 1px solid #222;
    
        li {
            width: 100%;
            border-left: 1px solid #333;

            &:first-child {
                border-left: none;
            }

            button {
                display: block;
                width: 100%;
                height: 30px;

                &.active {
                    background-color: #dfdfdf;
                }
            }
        }
    }

    .tab__content {
        padding: 20px;
    }
}


// select box
.selectbox {
    width: 150px;
    height: 50px;
}


// date picker
.datepicker {
    display: block; 
    width: 150px;
    height: 50px;
    border: 1px solid #000;
}