.modal__btn--open { width: 150px; height: 50px; text-align: center; border: 1px solid #222; }

.modal__content { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

.modal__content .modal__inner { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; width: 500px; height: 500px; margin: auto; padding: 20px; background-color: #FFF; }

.modal__content .modal__inner .modal__btn--close { position: absolute; display: inline-block; width: 20px; height: 20px; top: 20px; right: 20px; }

.modal__content .modal__inner .modal__btn--close::before, .modal__content .modal__inner .modal__btn--close::after { content: ''; position: absolute; top: 50%; left: 50%; width: 26px; height: 2px; background-color: #000; }

.modal__content .modal__inner .modal__btn--close::before { -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); }

.modal__content .modal__inner .modal__btn--close::after { -webkit-transform: translate(-50%, -50%) rotate(135deg); transform: translate(-50%, -50%) rotate(135deg); }

.tab { width: 1280px; margin: 0 auto; border: 1px solid #222; }

.tab ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: start; border-bottom: 1px solid #222; }

.tab ul li { width: 100%; border-left: 1px solid #333; }

.tab ul li:first-child { border-left: none; }

.tab ul li button { display: block; width: 100%; height: 30px; }

.tab ul li button.active { background-color: #dfdfdf; }

.tab .tab__content { padding: 20px; }

.selectbox { width: 150px; height: 50px; }

.datepicker { display: block; width: 150px; height: 50px; border: 1px solid #000; }
