.modal__btn { width: 150px; height: 50px; text-align: center; border: 1px solid #222; }

.modal__content { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

.modal__content .modal__inner { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; width: 500px; height: 500px; margin: auto; background-color: #fff; }

.tab { width: 1280px; margin: 0 auto; border: 1px solid #222; }

.tab ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #222; }

.tab ul li { width: 100%; border-left: 1px solid #333; }

.tab ul li:first-child { border-left: none; }

.tab ul li button { display: block; width: 100%; height: 30px; }

.tab ul li button.active { background-color: #dfdfdf; }

.tab .tab__content { padding: 20px; }
